In [3]:
import pandas as pd
import sqlite3

In [4]:
df = pd.read_csv('buddymove_holidayiq.csv')
print(df.shape)
df.head()

(249, 7)

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [5]:
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')
df.to_sql('review', conn)

C:\Users\redfo\Anaconda3\envs\unit2\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,